.DialogWrapper {
  width: 70%;
}

.DialogContentInner {
  display: flex;
  justify-content: space-between;
}
.ColorWrapper {
  margin: 20px 4px;
  width: 14%;
}

.CategoryWrapper {
  margin: 20px 4px;
  width: 22%;
}

.TaskCard {
  /* background: #fff740; */
  height: 20px;
  width: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 50%;
}

.SelectWrapperInner {
  height: 58px;
}

.SubtaskButton {
  margin: 10px 6px;
  color: #666667;
  border: 1px solid #666667;
}

.NewSubtaskOuter {
  display: flex;
}

.NewSubtaskInner {
  width: 80%;
}

.SubtaskList {
  display: flex;
}

.SubtaskListNames {
  flex: 3;
}

.SubtaskListCheckbox {
  flex: 1;
}
.SubtaskListDelete {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #e29e9e; */
}

.ButtonIcon {
  color: #e07979;
  width: 16px;
  height: 16px;
  
}

.DeleteButton{
    border: 1px solid #e29e9e;
}

.DeleteButton:hover{
    border: 1px solid #cb7272;
}